.link {
  padding: 20px;
  border: 1px solid #f9e34c;
  border-radius: 10px;
  font-weight: 900;
  color: #f9e34c;
  text-decoration: none;
}

.link:hover {
  background-color: #232e5b;
  opacity: 0.8;
}

.active-block {
  padding: 20px;
  color: #232e5b;
  border-radius: 10px;
  font-weight: 900;
  text-decoration: none;
  background-color: #f9e34c;
}
